extends ./default.jade

block content
	h1 Unleash the Labs Calendar

	div.column-left
		img(width="200", height="100", src="/images/standardulllogo.png")
		p: b Please use this mechanism to check calendars for the Cloud ULL teams

	div.column-right(style="text-align: left")
		ul
			li: p Please keep your entries up to date. 
			li: p Entries should be in the form &quot Username at Clientname in Place &quot

	div.column-clear
